.homeNewsSortBar span a button, .homeNewsPostContent button {
  background-color: #20232a;
  border: 0px none;
  padding: 8px 12px;
  border-radius: 5px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease; }
  .homeNewsSortBar span a button:not(:first-child), .homeNewsPostContent button:not(:first-child) {
    margin-left: 5px; }
  .homeNewsSortBar span a button:hover:enabled, .homeNewsPostContent button:hover:enabled {
    background-color: #eaac16;
    color: #20232a;
    transition: 0.2s ease; }
  .homeNewsSortBar span a button:disabled, .homeNewsPostContent button:disabled {
    opacity: 0.3;
    color: #6e6e6e;
    text-decoration-line: line-through; }

.homeContainerWrapper {
  display: flex; }
  .homeContainerWrapper > div:nth-child(1) {
    width: 75%;
    margin-right: 10px;
    background-color: #20232a;
    padding: 10px; }
  .homeContainerWrapper > div:nth-child(2) {
    width: 25%;
    background-color: #20232a;
    padding: 10px; }

.homeNewsSortBar {
  background-color: #2a2e36;
  padding: 10px 20px; }
  .homeNewsSortBar span {
    margin-right: 10px; }
  .homeNewsSortBar span a {
    color: #FFF;
    text-decoration: none; }

.homeNewsPost {
  background-color: #2a2e36;
  margin-top: 10px;
  padding: 10px;
  display: flex; }
  .homeNewsPost .homeNewsPostImage {
    height: 175px;
    min-width: 350px;
    background-color: #20232a;
    border: 5px solid #eaac16;
    transition: 0.2s ease;
    background-size: cover; }
    .homeNewsPost .homeNewsPostImage > span {
      background-color: #eaac16;
      padding: 3px 10px;
      position: relative;
      top: 5px;
      left: -4px;
      color: #20232a;
      font-weight: 800;
      font-size: 12px; }
  .homeNewsPost .homeNewsPostContent {
    margin-left: 10px;
    position: relative;
    width: 100%; }
    .homeNewsPost .homeNewsPostContent > p {
      font-weight: 600;
      font-size: 17px;
      text-transform: uppercase; }
    .homeNewsPost .homeNewsPostContent .homeNewsPostDates span {
      font-size: 12px;
      margin-right: 5px; }
    .homeNewsPost .homeNewsPostContent .homeNewsPostDesc {
      margin-top: 10px; }
    .homeNewsPost .homeNewsPostContent button {
      position: absolute;
      bottom: 0;
      width: 100%; }
      .homeNewsPost .homeNewsPostContent button:not(:first-child) {
        margin-left: 0px; }

.homeNewsLoadMoreNews {
  width: 100%;
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin-top: 20px; }

.homeNewsLoadMoreNews button {
  background-color: #2a2e36;
  border: 0px none;
  padding: 15px 12px;
  border-radius: 5px;
  width: 100%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease; }
  .homeNewsLoadMoreNews button:not(:first-child) {
    margin-left: 5px; }
  .homeNewsLoadMoreNews button:hover:enabled {
    background-color: #eaac16;
    color: #20232a;
    transition: 0.2s ease; }
  .homeNewsLoadMoreNews button:disabled {
    opacity: 0.3;
    color: #6e6e6e;
    text-decoration-line: line-through; }

@media screen and (max-width: 1250px) {
  .homeContainerWrapper > div:nth-child(1) {
    width: 100%;
    margin-right: 0px; }
  .homeContainerWrapper > div:nth-child(2) {
    display: none; }

  .homeNewsPost {
    display: block; }
    .homeNewsPost .homeNewsPostContent {
      margin-left: 0px;
      margin-top: 5px; }
      .homeNewsPost .homeNewsPostContent .homeNewsPostDesc {
        margin-bottom: 5px; }

  .homeNewsPost .homeNewsPostContent button {
    position: unset; } }

/*# sourceMappingURL=home.css.map */
